<html>
    <head>
        <title></title>

        <script type="text/javascript" src="static/external/ext/ext-base.js"></script>
        <script type="text/javascript" src="static/external/ext/ext-all.js"></script>
        <link rel="stylesheet" type="text/css" href="static/external/ext/ext-all.css" />

        <script type="text/javascript" src="static/external/openlayers/OpenLayers.js"></script>
        <link rel="stylesheet" type="text/css" href="static/external/openlayers/theme/default/style.css" />

        <script type="text/javascript" src="static/external/geoext/GeoExt.js"></script>

        <script type="text/javascript" src="static/app.js"></script>
    </head>
    <body>
      <div id="map"></div>
    </body>
</html>
